@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2e44;
}

.digital-clock{
    position: relative;
    color: #fff;
    background:#2d2f41;
    width: 425px;
    padding: 20px 45px;
    box-shadow: 0 5px 25px rgba(14,21,0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.digital-clock:before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg,#24ff6d,#2f93f1,#ff5e9a);
    background-size: 200% 200%;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    filter: blur(40px);
    animation: glowing 10s ease infinite
}

@keyframes glowing{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.CurrentTime{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CurrentHours,.CurrentDots,.CurrentMinutes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding:0 10px;
    line-height: 125px;
}

.CurrentHours, .CurrentMinutes{
    font-size: 6.5em;
    width: 125px;
}

.CurrentDots{
    font-size: 5em;
    color: #929292;
}

.CurrentHours{
    background:-webkit-linear-gradient(90deg,#634dff,#5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.CurrentMinutes{
    background:-webkit-linear-gradient(90deg,#ff539a,#ffb960);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.CurrentSeconds{
    font-size: 1.2em;
    font-weight: 500;
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg,#24ff6d,#2f93f1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.CurrentCalendar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 5x;
    background: -webkit-linear-gradient(90deg,#ae4af6,#ff98d1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.CurrentDayName, .CurrentDayNumber, .CurrentMonth, .CurrentYear{
    margin-left: 6px;
}

.Alarm-Selector{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-alarm {
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    outline: 0;
    color: #fff;
    transition: all ease 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}


/* Center a button */
button:hover {
    color: #fff;
    background: #0D00A4;
}
input{
    height: 20px;
    width: 75px;
    background: white;
}

.alarm-list{
    max-width: 10rem;
    position: absolute;
    top: 4rem;
    left: 7rem;

}

.alarm-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
    background:#2d2f41;
    box-shadow: 0 5px 25px rgba(14,21,0.8);
    border-radius: 10px;
    padding: 0 1rem 0 1rem;
    margin-top: 1rem;
    height: 4rem;
}

.delete-alarm {
    cursor: pointer;
    padding: 0.3rem 0.6rem;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    outline: 0;
    color: #fff;
    transition: all ease 300ms;
    display: inline-block;
}

.alarm-content {
    padding-right: 1rem;
}